<!-- <div style = 'background:rgb(200, 200, 200)'> -->
</a>
<a href = 'https://medium.com/@alejandropitarcholivas'>
<img src='https://assets.materialup.com/uploads/98c41701-1d66-45f6-b89a-4ae8cbb11840/0x0ss-85.jpg' alt='M' width=65 height=65>
</a>
</a>
<a href = 'https://twitter.com/Alex__Code'>
<img src='https://i1.wp.com/wiredpen.com/wp-content/uploads/2016/05/Twitter-icon-horizontal.jpg' alt='T' width=80 height=50>
</a>
</a>
<a href = 'https://www.youtube.com/channel/UCbb1jwj4txlERk4jBWWienw?view_as=subscriber'>
<img src='http://icons.iconarchive.com/icons/dtafalonso/android-l/512/Youtube-icon.png' alt='Y' width=55 height=55>
</a>
<!-- </div> -->
