<html>
  <!-- <head>Alex's sites</head> -->
  <body background = 'http://cdn.wonderfulengineering.com/wp-content/uploads/2014/05/city-wallpaper-16.jpg'>
    <a href = 'https://medium.com/@alejandropitarcholivas'>
    <img src='https://www.shareicon.net/data/512x512/2016/07/10/119936_medium_512x512.png' alt='M' width=90 height=80>
    </br>
    </a>
    <a href = 'https://twitter.com/Alex__Code'>
    <img src='http://icons.iconarchive.com/icons/uiconstock/socialmedia/512/Twitter-icon.png' alt='T' width=90 heigh=90>
    </br>
    </a>
    <a href = 'https://www.youtube.com/channel/UCbb1jwj4txlERk4jBWWienw?view_as=subscriber'>
    <img src='http://icons.iconarchive.com/icons/dtafalonso/android-l/512/Youtube-icon.png' alt='Y' width=90 height=80>
    </a>
  </body>
</html>
